
.container-fluid{
    width: 100vw;
    height: 100vh; 
    background-color: rgba(0, 0,0, 0.3);
    background-image: url('../../../assets/restaurant-home.jpg'); 
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
}
.a-btn{
    border: 3px  var(--colorPrimary) solid;
    padding: 5px 3rem;
    border-radius: 25px;
    margin-right: 2rem;
    color: white;
    background-color: transparent;
    
}
.a-btn:hover{
    background-color:var(--colorPrimary);
   
}
.card{
    background-color: rgba(0,0,0, 0.4);
    
}