<div class="container-fluid fixed-top">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="card" >
      <div class="card-body ">
        <h1 class="card-title">Bienvenido a Restaurantly</h1>
        <p class="card-text">Restaurante de lujo con más de 5 años experiencia</p>
        <div class="d-flex flex-column flex-md-row">
          <a class="a-btn" href="#">Menu</a>
          <a class="a-btn mt-3" href="#">Contactenos</a>
        </div>
      </div>
    </div>  
   
  </div>
</div>
