<div class="contact-navbar "><p><i class="fas fa-mobile-alt "></i> 593-9986-9681</p><p><i class="far fa-clock"></i> Lunes-Sabados 11AM -23PM </p> </div>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container-fluid">
      <i class="fas fa-utensils"></i>
      <a class="navbar-brand " routerLink='/'>RESTAURANT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active"  routerLink='/'>Inicio</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active"   routerLink='/nosotros'>Nosotros</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active"  routerLink='/menu'>Menu</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active"  routerLink='/ofertas'>Ofertas</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active"  routerLink='/eventos'>Eventos</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active"  routerLink='/contacto'>Contacto</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>
